<!DOCTYPE html>
<html>
  <body>
    <form>
      <label for="imageUrl">Image URL:</label>
      <input type="text" [(ngModel)]="imageUrl" name="imageUrl"><br>
      <label for="k">Number of colors:</label>
      <input type="text" [(ngModel)]="k" name="k"><br>
      <button type="submit" class="btn btn-success" (click)="analyze()" [disabled]="buttonDisabled">{{ buttonText }}</button>
    </form>
    <div id="container">
      <img [src]="imageUrl">
      <div id="palette">
        <div *ngFor='let color of colors'>
          <div class="colorblock" [style.backgroundColor]="color.string" [style.color]="color.textColor">
            R: {{ color.r }}<br>
            G: {{ color.g }}<br>
            B: {{ color.b }}<br>
            a: {{ color.a }}
          </div>
        </div>
      </div>
      <div [style.display]="errorDisplay">Invalid image!</div>
    </div>
  </body>
</html>


<!-- <div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div> -->
