html {
}
body {
    margin: 0px;
    display: flex;
    justify-content: center;
}
input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
button {
    background-color: #5bb7e5;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 6px;
    margin: 2px;
    width: 34px;
}
button:focus {
    background-color: #51a3cc;
    outline: 0;
}
form {
    padding: 28px;
    display: flex;
    justify-content: center;
}
img {
    max-width: 280px;
    max-height: 280px;
    margin-top: auto;
    margin-bottom: auto;
}
#main {
    position: absolute;
	width: 80%;
	max-width: 960px;
}
#results {
    display: flex;
    justify-content: center;
}
.field {
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    border-radius: 6px;
    padding: 8px;
    margin: 2px;
}
.field:hover {
    border: 1px solid #aeaeae;
}
.field:focus {
    border: 1px solid #5bb7e5;
    outline: 0;
}
.field#url {
    width: 100%;
}
.field#n {
    width: 34px;
}
