<!DOCTYPE html>
<html>
    <head>
        <title>dominant image colors</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="style/main.css">
        <form action="/" method="post" name="get_image_url">
            {{ form.hidden_tag() }}
            <p>Image URL: {{ form.image_url(size=120) }}</p>
            <p>n top colors: {{ form.n(size=1) }}</p>
            <p><input type="submit" value="analyze!"></p>
        </form>
        {% if image_url %}
            <img src={{ image_url }}>
            <div id="palette">
                {% for color in colors %}
                    <div class="color" style="background-color:#{{ color[1] }}">
                        {{ color[0] }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>