<!DOCTYPE html>
<html>
<head>
    <title>quick palette</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <div id="main">
        <div id="title">quick palette</div>
        <form action="/" method="post" name="get_image_url">
            {{ form.image_url(id="url", class="field", placeholder="image url") }}
            {{ form.n(id="n", class="field", placeholder="#") }}
            <button type="submit"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </form>
    </div>
</body>
</html>